/*

!.gitignore

!config/
config/oculus.properties
config/sound_physics_remastered/
config/jei/
config/easy_npc/skin/

config/tacz/custom/**/display/
config/tacz/custom/**/animations/
config/tacz/custom/**/textures/
config/tacz/custom/**/sounds/

!defaultconfigs/

!kubejs/
kubejs/probe/

!scripts/

!mods/
mods/mod_data/
mods/*.disabled
mods/physics-mod*.jar